# **Exploring Agriculture Dataset**

Import Packages

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

Begin Lmaoo

In [12]:
#Load in Data
data = pd.read_csv(r'data\all_agricultural_products_data.csv')

data_sources = data['commodity'].unique()
print(f"Data Sources: {data_sources}")
print(f"{len(data_sources)} Data Sources")
lumber = data.loc[data['commodity'] == "Random Length Lumber"]
cocoa = data.loc[data['commodity'] == "Cocoa"]
coffee = data.loc[data['commodity'] == "Coffee"]
orangeJuice = data.loc[data['commodity'] == "Orange Juice"]
sugar = data.loc[data['commodity'] == "Sugar"]

data.head(5)

Data Sources: ['Cocoa' 'Coffee' 'Cotton' 'Random Length Lumber' 'Orange Juice' 'Sugar']
6 Data Sources

  ticker commodity        date   open   high    low  close  volume
0   CC=F     Cocoa  2000-01-03  840.0  846.0  820.0  830.0    2426
1   CC=F     Cocoa  2000-01-04  830.0  841.0  823.0  836.0    1957
2   CC=F     Cocoa  2000-01-05  840.0  850.0  828.0  831.0    3975
3   CC=F     Cocoa  2000-01-06  830.0  847.0  824.0  841.0    3454
4   CC=F     Cocoa  2000-01-07  848.0  855.0  836.0  853.0    5008

In [ ]:
fig, axs = plt.subplots(2, 3)


axs[0, 0].plot()